<!doctype html>
<html>

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' 'unsafe-eval;" />
    <title>My semestral work</title>
</head>
<style type="text/css">
    body {
        /* TODO place your background here */
        background-color: black;
    }
</style>

<body>
    <canvas id="gameCanvas"></canvas>
    <script src="../src/my-game.ts"></script>
<script src="../src/playground.ts"></script>
    <script src="../src/pixi.input.js"></script>
</body>

</html>